.body {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold; text-decoration: none}

.body:link {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold; text-decoration: none}

.body:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; font-weight: bold; text-decoration: none}

.body:active {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; font-weight: bold; text-decoration: none}

.body:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FF0000; font-weight: bold; text-decoration: none}


.subs { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; font-weight: bold; text-decoration: none; line-height: 11px}

.subs:link { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000; font-weight: bold; text-decoration: none}

.subs:visited { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #666666; font-weight: bold; text-decoration: none}

.subs:active { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FF0000; font-weight: bold; text-decoration: none}

.subs:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FF0000; font-weight: bold; text-decoration: none}

.title { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000000; font-weight: bold; text-decoration: none; line-height: 15px}

.category { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; font-weight: bold; text-decoration: solid underline 1px;}



html, body {
    margin: 0;
    height: 100%;
}

/* Outer layout: top + rest */
.layout {
    display: grid;
    grid-template-rows: 55px 1fr;
    height: 100%;
}

/* Top frame */
    .top {
    border-bottom: 2px solid black;
}

/* Bottom layout: left + main + content */
.bottom {
    display: grid;
    grid-template-columns: 210px 25% 75%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Frame borders */
.left {
    border-right: 2px solid black;
}

.main {
    border-right: 2px solid black;
}